body{
    font-family: 'Rubik';

}
.title{

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #D3B288;
}
.wrapper {
    width: 1300px;
    margin: 0 auto;
}
.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    padding-right: 0px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

}
.logo {

}
.header__body__menu{ 
    margin-left: -60px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;
    width: 100%;
}
.header__body__menu__item{
 
}

.header__body__contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 315px;
    width: 100%;
    margin-right: -7px;
}
.header__body__contact:before {
    position: relative;
    content: url(map.svg);
    width: 20px;
    height: 20px;
    margin-top: 7px;

}
.header__body__contact__adress {
    color:black;
    border-bottom:2px dashed #D3B288;
    margin-left:-25px;

}

.button {
    padding: 10px 15px;
    color: #FFFFFF;
    background: #D3B288;
    border-radius: 5px;
}
/* /////////////////////////////////////////////// */
.center-health-block{
    background: url('first-screen.png');
    background-position: left;
    height: 700px;
    background-size: 101% 100%;
}
.center-health{
    width: 526px;
    height:  700px;
    background-color: #FFFFFF;
    padding-top: 20px;
    margin-left: 120px;
}
.center-health_border{
    border: 3px solid #D3B288;
    margin: 0 20px;
    width: 485px;
    height:660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 48px 29px 48px;

}
.center-health__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #333333;
    margin-top: 21px;
}
.center-health__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-top: 6px;
}
.center-health__button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    margin-top: 30px;
    padding: 10px 20px;
}
/* /////////////////////////////// */
.about-block{
    margin-top: 150px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1078px;
    margin-left: 120px;
    padding-right: 19px;
}
.about__img {
    flex: 0 0 39.3%;
    background: url(img/about.png) no-repeat;
    width: 400px;
    height: 400px;
    background-size: 100%;
    border-radius: 10px;
}
.about__body {
    flex: 0 1 49.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -5px;
    margin-right: -17px;
}

.about__body__title {
    margin-bottom: 42px;
    margin-top: -18px;
}
.about__body__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 136%;
    color: #333333;
    margin-bottom: 20px;
}
/* //////////////////////////////////// */
.consultations-block{
    margin-top: 150px;
    padding-left: 15px;
}
.consultations {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 2px;
    padding-right: 40px;
    padding-bottom: 100px;
}
.consultations__main {
    flex: 0 1 25%;
}
.consultations__title {
}

.consultions__text {    
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
}
.consultations__list {
   height: 339PX;
    flex: 0 1 75%;
    display: grid;
    grid-template-columns: 32% 33.5% 34%;
    grid-column-gap: 3%;
    grid-row-gap: 18%;
    grid-template-rows: 30% 33% 30%;
    padding-left: 22px;

}
.consultations__list__item {
    text-align: center;
 
}
.consultations__list__item:nth-child(2){
    margin-left: 2px;
}
.consultations__list__item:nth-child(3n){
    margin-left: -6px;
    margin-right: 10px;
}

.consultations__list__item:nth-child(7){
    margin-top: -35px;
  
}
.consultations__list__item:nth-child(8){
    margin-top: -35px;
  
}
.consultations__list__item:nth-child(9){
    margin-top: -35px;
  
}

.consultations__list__item__img {
    margin-bottom: 18px;
    width: 50px;
    height: 50px;
}
.consultations__list__item__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}
/* //////////////////////// */
.procedure-block{
    background: #d3b2881f;
    margin-top: 150px;
    padding: 120px 0px 120px 0;
}
.procedure {
    display: flex;

    align-items: center;
    padding-left: 10px;
}
.procedure_main {
    flex: 0 1 33%;
    padding-top: 15px;
}
.procedure_main__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #333333; 
    margin-top: -20px;
    margin-bottom: 25px;
}
.procedure_main__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #333333;
}
.procudere__list {
    flex: 0 1 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -13px;
    margin-right: -22px;
    font-size: 16px;
    max-width: 886px;
    font-weight: 400;
    font-size: 16px;
    line-height: 90%;
}

.procudere__list__item {
    background: #D3B288;
    border-radius: 5px;
    width: 196px;
    height: 260px;
}
.procudere_list__item__text{
    color:white;
    margin-bottom: 30px;
}
.procudere_border {
    border: 3px solid #FFFFFF;
    margin: 10px;
    width: 175px;
    height: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/* ///////////////////////////////////////////////////// */


.rezult {
    margin-top: 150px;
    padding: 0px 0px 0px 10px;
    margin-right: -5px;
}
.rezult__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.rezult__header__title {
}
.rezult__header__buttons {
    width: 90px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rezult__header__button {
    background-image:url(img/arrow.svg) ;
    width: 40px;
    height: 40px;
    border: 100%;
    background-color: rgba(255, 255, 255, 0);
}
.btn-left {
}
.btn-right {
    transform: rotate(180deg);
}
.rezult__body {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rezult__body__item__title {
    margin-top: 20px;
    font-size: 18px;
    line-height: 140%;
}
/* /////////////////////////////// */
.footer-block{
    margin-top: 150px;
    color:white;
    background: #D3B288;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    padding-bottom: 30px;
}
.footer-block a{  
    color:white;
    cursor: pointer;
}
.footer__header{
    padding: 30px 0px 27px 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -8px;
}
.footer__header__item {
}
.footer__header__items__adress {
    border-bottom: 2px white dashed  ;
    flex: 1 1 50%;
}
.footer__header__items__button {
    background-color: white;
    color:#D3B288;
    font-size: 14px;
}


.footer__main{
    display: flex;
}
.footer__body {
    flex: 1 1 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__body__item {
}
.footer__body__item__list {
}
.footer__body__item__list__item {
    margin: 10px ;
}
.footer-line{
    border: 1px white solid;
    max-width: 100%;
    width: 100%;
}
.title_l-size {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
}
.title_s-size {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.footer__body__item__list__item:nth-of-type(1){
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer__contacs{
    flex: 1 1 30%;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: centerN;
    max-width: 415px;
    height: 277px;
    margin-top: 30px;
    border: 3px solid white;
    padding: 42px 70px;
    margin-left: 14px;
    margin-right: -5px;

}
.footer__contacts__title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
 
}
.footer__contacts__schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;  
}
.footer__contacts__schedule__text {
}